html {
	height: 95%;
}
.b1 {
	min-height: 100%;
	background-color: LightGreen;
	border-style:double;
	border-width: 6px;
	border-color:Green;
	
}
.header{
	background-color: Gray;
	text-shadow: 2px 2px 2px black;
	font-family: Centaur;
	color: white;
	padding-top: 5px;
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 15px;
	height: 45px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	animation-name: myfirst;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-direction: alternate;
	
}
.float{
  width: 450px;
  height: 30px;
  background-color: LightYellow;
  border-style:solid;
  border-width: 2px;
  border-color:black;
  border-radius:12px;
  text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Times New Roman;
  font-size: 20px;
  font-weight:bold;
  position: relative;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-direction: forward;
}
@keyframes myfirst {
  0%   {background-color: Green;}
  100% {background-color: Blue;}
}
@keyframes move {
	0% {left:0%}
	100%{left:63%}
}
form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-right:auto;
	font-weight:bold;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	height: 300px;
	background-color: SkyBlue;
	border-radius: 10px;
	padding-top: 5px;
	border-style:double;
	position: relative;
	top: 40px;
}
input[type=text] {
	border-radius: 25px;
	background-color: Beige;
	border: 2px solid green;
	height: 20px;
	width: 300px;
	padding-left: 15px;
	transition: width 0.1s;
}
input[type=password] {
	border-radius: 25px;
	background-color: Beige;
	border: 2px solid blue;
	height: 20px;
	width: 300px;
	padding-left: 15px;
	transition: width 0.1s;
}
input[type=text]:focus {
  border: 3px solid gray;
}
input[type=password]:focus {
  border: 3px solid gray;
}
input[type=text]:hover {
 width : 330px;
}
input[type=password]:hover {
 width : 330px;
}
button{
	border-style: double;
	border-radius: 12px;
	border-color:black;
	background-color: DarkSalmon;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	font-family: Lucida Console;
	width: 100px;
	height: 30px;
	transition: width 0.5s, height 0.5s;
}
button:hover {
	width: 120px;
	height: 40px;
}
.login{
	background-color: white;
	border-style: solid;
	border-color: black;
	text-align: center;
	font-family: Arial;
	width: 100px;
	margin-left: auto;
	margin-right:auto;
	border-radius: 15px;
}
.b2 {
	background-color: SkyBlue;
}
.header2 {
	background-color: Pink;
	text-align: center;
	font-family: Times New Roman;
	font-weight: bold;
	border-style: solid;
	border-radius: 25px;
	border-color: black;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.msg {
	background-color: Blue;
	color: white;
	text-align: center;
	font-weight:bold;
	font-family: Calibri;
	font-size: 21px;
	border-style: solid;
	border-color:black;
	border-width: 3px;
	border-radius: 25px;
	width: 600px;
	height: 100px;
	padding-top: 50px;
	margin-left: auto;
	margin-right:auto;
	position: relative;
	top: 120px;
}
.circle {
	height: 50px;
	width: 50px;
	background-color: blue;
	border-radius: 50%;
	position: relative;
	left:5px;
}
.circle2 {

	height: 55px;
	width: 55px;
	background-color: yellow;
	border-radius: 50%;
	display:inline-block;
}
.circle3 {

	height: 40px;
	width: 40px;
	background-color: blue;
	border-radius: 50%;
	display:inline-block;
}
.circle4 {

	height: 30px;
	width: 30px;
	background-color: yellow;
	border-radius: 50%;
	display:inline-block;
}
